DATABASE_HOST=localhost
DATABASE_PORT=5434
DATABASE_NAME=dronenav_api
DATABASE_USER=dronenav_api
DATABASE_PASSWORD=change_me

TELEMETRY_USER=navproxy
TELEMETRY_PASSWORD=change_me_too

FLASK_ENV=development

NAVPROXY_PROJECT_DIR=/home/dronenavcp/navproxy

DRUPAL_STATUS_CALLBACK_TOKEN=change_me_too
